section{
    @include container;
    background: white;
    margin: auto;
    max-width: 80%;
    text-align: center;
    .main-date{
        font-size: 1.1rem;
        padding: 85px 0;
        letter-spacing: 2px;
        color: rgb(40, 40, 40);
        &:before{
            border-top: 1px solid #e4e4e4;
            display: block;
            position: relative;
            top: 10px;
            left: -20%;
            margin: 0 auto;
            width: 20%;
            content: "";
        }
        &:after{
            border-top: 1px solid #e4e4e4;
            display: block;
            position: relative;
            top: -10px;
            left: 20%;
            margin: 0 auto;
            width: 20%;
            content: "";
        }
    }
    .main-description{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
        margin: auto;
        .h2{
            max-width: 70%;
        }
        p{
            max-width: 60%;
            margin: 70px auto 60px;
        }
    }
    .main-img{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
        display: flex;
        max-width: 1100px;
        max-width: 80%;
        justify-content: center;
        align-items: center;
        }
    }
}
.main-article{
    button{
        margin: 65px 0 75px;
        transition: 0.4s ease;
        cursor: pointer;
        &:hover{
        background: black;
        color: white;
            }
        }
    &:after{
        border-bottom: 1px solid #e4e4e4;
        display: block;
        position: relative;
        bottom: 0px;
        margin: 0 auto;
        width: 100%;
        content: "";
            }
        }
.secondary-article{
    display: flex;
    max-width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 80px auto 40px;

    
    .secondary-date{
        margin: 0 0 40px 0;
    }
    
    .btn-article{
        position: absolute;
        button{
            position: relative;
            bottom: 0;
        }
    }
    img{
        width: 80%;
    }
  
    p{
     width: 80%;
    margin: 40px auto;
    text-align: left;

        }
        
        .btn-article{
            position: relative;
            bottom: 0;
            transition: 0.4s ease;
            margin-bottom: 50px;
            button{
                cursor: pointer;
                &:hover{
                    background: black;
                    color: white;
                }
            }
        }
   
    }